html,body{
    overflow-x: hidden;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-color:white;
    
  }
  #logo{
      width: 220px;
      margin-right: 90%;
      margin-top: -2%;
  }
  .nav-list{
	display: flex;
	list-style: none;
	color: black;
}
.list-div{
  height: 50px;
	position: absolute;
	left: 75%;
    color: black;
  margin-top: -42%;
}
.nav-list li{
	margin-left: 20px;
    color: black;
}
li :hover{
  background-color:#CAD0D2;
}
a:link { text-decoration: none; }

aa:hover{
  background-color:#CAD0D2;
  border-radius: 25px;
}

#aa{
color: black;
font-family: sans-serif;
}

img {
    max-width: 150%;
    height: auto;
}
        section {
          width: 100%;
            padding: 7px 0;
           /* min-height: 100vh;*/
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #6895d191;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #6452525b;
    color: #6452525b;
}

.contact-content img {
    max-width: 210px;
}

section, footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}
#wp{
width: 30px;
}
#vib{
width: 30px;
}
#tw{
width: 30px;
}
#ig{
width: 30px;
}
#fb{
width: 30px;
}
#ngjyra{
background-color: #353C46;
width: 1550px;
}
.about-section{
    margin-top: 23%;
    background: url(rrj/ppppp.jpg) fixed;
    background-size: 65%;
    background-color: white;
    overflow: hidden;
    padding: 30px
 
}

.inner-container{
    margin-top: 3%;
    width: 55%;
    float: right;
    background-color: white;
    padding: 150px;
     
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
}
.border{
    height: 3px;
     width: 150px;
     background-color: #1b5fdd8f;
}
.text{
    font-size: 14px;
    color: gray;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
button{
    border: none;
    padding: 8px 15px;
    background-color:#1b5fdd8f;
    color: white;
}
button:hover{
    text-decoration: underline;

}
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

    #gradient {
        background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgb(12, 10, 82) 56%, rgba(5, 61, 87, 0.397) 100%);
        color: transparent;
        -webkit-background-clip: text;
        
        animation: move 1s infinite;
      }
      
      @keyframes move {
        50% {
          background-image: linear-gradient(262deg, rgba(94,114,235,1) 0%, rgb(22, 124, 128) 56%, rgb(31, 28, 153) 100%);
        }
      }

      .contact-area {
        border-bottom: 1px solid #353C46;
    }
    
    .contact-content p {
        font-size: 15px;
        margin: 30px 0 60px;
        position: relative;
    }
    
    .contact-content p::after {
        background: #353C46;
        bottom: -30px;
        content: "";
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
        width: 80%;
    }
    
    .contact-content h6 {
        color: #8b9199;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .contact-content span {
        color: #353c47;
        margin: 0 10px;
    }
    
    .contact-social {
        margin-top: 30px;
    }
    
    .contact-social > ul {
        display: inline-flex;
    }
    
    .contact-social ul li a {
        border: 1px solid #8b9199;
        color: #6895d191;
        display: inline-block;
        height: 40px;
        margin: 0 10px;
        padding-top: 7px;
        transition: all 0.4s ease 0s;
        width: 40px;
    }
    
    .contact-social ul li a:hover {
        border: 1px solid #6452525b;
        color: #6452525b;
    }
    
    .contact-content img {
        max-width: 210px;
    }
    
    section, footer {
        background: #1A1E25;
        color: #868c96;
    }
    
    footer p {
        padding: 40px 0;
        text-align: center;
    }
    
    footer img {
        width: 44px;
    }
    #wp{
    width: 30px;
    }
    #vib{
    width: 30px;
    }
    #tw{
    width: 30px;
    }
    #ig{
    width: 30px;
    }
    #fb{
    width: 30px;
    }
    #ngjyra{
    background-color: #353C46;
    width: 1550px;
    }